@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");


:root {
  --dark1: #571d1d;
  --dark2: #733635;
  --dark3: #8a7070;
  --dark4: #b89898;
  --light1: #FBCEB1;
  font-family: "Poppins", sans-serif;
}
.swal-overlay {
  background-color: rgba(212, 124, 66, 0.45);
}
/* .swal-modal {
  background-color:#ffe4cd;
} */
* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  position: relative;
  width: 100%;
  background-color: var(--dark2);
}
.logo{
  display: flex;
}
.logo_content {
  display: flex;
  color: var(--light1);
}

.logo_text {
  text-align: center;
  position: relative;
  /* padding: 20px; */
  left: 50%;
  top: 50%;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.main {
  /* For scroolling */
  overflow: visible;

  height: 92vh;
  display: flex;
}

#network-speed{
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content:flex-end;
  background-color:var(--dark3);
  /* background-color:rgb(42, 224, 42) */
}

#network-content{
  display: flex;
  flex-direction: row;
  background-color:rgb(211, 21, 179);

  /* display: flex; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  /* background-color: var(--dark1); */
  height: 30px;
  border-radius: 5px;
  /* color: var(--light1); */
  font-size: 0.8rem;
  font-weight: bold;
  /* width: 50px; */
  margin: 0.5rem 0.5rem;
  box-shadow: 0 1px 2px rgba(0, 200, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

#network-content:hover {
  background-color:rgb(0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 100, 0, 0.8);
}
#rtt-value{
  margin: 0 0.5rem;
}
.main__left {
  flex: 0.7;
  display: flex;
  flex-direction: column;
}

.videos__group {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: var(--dark3);
}

video {
  height: 300px;
  border-radius: 1rem;
  margin: 0.5rem;
  width: 400px;
  object-fit: cover;
  /* transform: rotateY(180deg); */
  /* -webkit-transform: rotateY(180deg); */
  /* -moz-transform: rotateY(180deg); */
}

.options {
  padding: 1rem;
  display: flex;
  background-color: var(--dark2);
  /* position: fixed bottom; */
}

.options__left {
  display: flex;
}

.options__right {
  margin-left: auto;
}

.options__button {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background-color: var(--dark1);
  height: 50px;
  border-radius: 5px;
  color: var(--light1);
  font-size: 1.2rem;
  width: 50px;
  margin: 0 0.5rem;

  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

.options__button:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
}

.background__red {
  background-color: #c4484a;
}

.main__right {
  display: flex;
  flex-direction: column;
  flex: 0.3;
  background-color: var(--dark4);
}

.main__chat_window {
  flex-grow: 1;
  overflow-y: scroll;
}

.main__chat_window::-webkit-scrollbar {
  display: none;
}

.main__message_container {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main__message_container > input {
  height: 50px;
  flex: 1;
  font-size: 1rem;
  border-radius: 5px;
  padding-left: 20px;
  border: none;
}

.messages {
  display: flex;
  flex-direction: column;
  margin: 1.5rem;
}

.message {
  display: flex;
  flex-direction: column;
}

.profile{
  display: flex;
  flex-direction: row;
  position: relative;
}

.message .profile > b {
  /* this color for name of profile */
  color:#8B0000;
  display: flex;
  align-items: center;
  text-transform: capitalize;
}
.time{
  position: absolute;
  right: 0;
  color: rgba(153, 42, 42, 0.952);
}
.message .profile > b > i {
  margin-right: 0.7rem;
  font-size: 1.5rem;
  font-weight:1500;
}

.message > span {
  background-color: var(--light1);
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}

#feedback{
  margin: 1 rem 0;
  padding : 1rem;
}

#video-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#showChat {
  display: none;
}

.header__back {
  display: none;
  position: absolute;
  font-size: 1.3rem;
  top: 17px;
  left: 28px;
  color: #fff;
}


/* hovering effects */
.options__button:hover{
  background-color:#240303;
  /* opacity: 0.5; */
}

@media (max-width: 700px) {
  .main__right {
    display: none;
  }
  .main__left {
    width: 100%;
    flex: 1;
  }

  video {
    height: auto;
    width: 100%;
  }

  #showChat {
    display: flex;
  }
}